$surface: #182532;
$primary-dark: #0284C7;

ApplyPrompt {
    align: center middle;
    background: transparent;
}

#apply-prompt {
    width: 70%;
    height: auto;
    padding: 2;
    border: round $primary-dark;
    background: $surface;
}

#apply-prompt Input {
    margin: 1 0;
}