$background: #0B1117;
$surface: #182532;
$surface-light: #223447;

$text: #E6F1F8;
$text-muted: #9FB3C8;

$primary: #38BDF8;
$primary-dark: #0284C7;
$primary-light: #7DD3FC;

Screen {
    background: $background;
    color: $text;
}

#buttons Button {
    width: 60;
    height: 10;
    margin: 1;

    background: $surface;
    color: $primary-light;
    border: round $primary-dark;

    content-align: center middle;
    text-style: bold;
}

#buttons Button:hover {
    background: $primary-dark;
    color: $text;
}

#buttons Button:focus {
    background: $primary;
    color: $background;
    text-style: bold;
}

#menu {
    width: 100%;
    height: 1fr;
    layers: buttons title;
}

#buttons {
    layer: buttons;
    width: 100%;
    height: 100%;
    align: center middle;
}

#title {
    layer: title;
    width: 100%;
    height: auto;
    text-align: center;
    offset: 0 8;
}

